@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* Light mode color  */
    --text-color: #000;
    --primary-color: #edf2f4;
    --secondary-color: ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-color);
    
}
.container{
    min-height: 100vh;
    width: 50%;
    border-radius: 2px;
}

#intro{
    margin-top: 40px;
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 45%;
    background-clip: text;
    background: linear-gradient(to right,#e5364a,  #9d33d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#discription{
    margin-top: 10px;
    max-width: 70%;
}
.tech{
    margin-top: 10px;
}
.tech ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
#js-img{
    color: rgb(226, 226, 62);
    background-color: rgb(255, 255, 255);
}
#html-img{
    color: red;
}
#css-img{
    color: blue;
}
.contents{
    margin-top: 10px;
    width: 100%;
}
.contents h2{
    font-size: 2rem;

}
.content{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.content-info{
  margin: 18px 18px 18px 0;
  margin-right: 30px;
  padding: 15px;
  width: 42%;
  height: 200px;
  background: linear-gradient(to right, rgb(241, 240, 240), rgb(206, 206, 222));
}
.content-info:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgb(194, 190, 198), rgb(190, 208, 206));
}

#content1{
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
#content1::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(135, 210, 205), rgb(119, 119, 193));
}
#content2{
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
#content2::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(185, 213, 137), rgb(194, 122, 175));
}
#content3{
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
#content3::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(210, 193, 135), rgb(126, 195, 189));
}
#content4{
    border-radius: 10px; 
    padding: 5px;
    position: relative;
}
#content4::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(191, 151, 220), rgb(119, 119, 193));
}
.content-info p{
    height: 85%;
    display: flex ;
    font-size: 2rem;
    font-weight: 500;
    color: #6b5ca5;
}
.content-info a{
    height: 30px;
    width: 60px;
    background: #273469;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: .2s all ease;
}
.content-info a:hover{
    background: #000000;
}
.about-me h2{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-me ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.about-me p{
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #9d33d2;
}
#github{
    font-size: 50px;
    background: white;
    color: black;
    border-radius: 50px;
}
#insta{
    font-size: 50px;
    background: white;
    color: #dd2c2f;
    border-radius: 20px;
}
#link{
    font-size: 50px;
    background: white;
    color: blue;
    border-radius: 20px;
}
#x{
    font-size: 50px;
    background: black;
    color: white;
    border-radius: 10px;
}
.bio{
    margin-top: 50px;
    margin-bottom: 10px;

}
.bio h2{
    font-size: 2rem;
}
.bio p{
    margin-top: 10px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(162, 171, 174);
}
.education{
    margin-top: 30px;   
}
.education h2{
    font-size: 2rem;
}
.wrapper{
    max-width: 600px;
    margin: 30px 20px;
    padding: 0 20px;
}
.wrapper .row{
    display: flex;
}
.wrapper .center-line{
    position: absolute;
    height: 70%;
    width: 4px;
    background: rgb(202, 202, 224);
    left: 25%;
}
.details .title{
    margin-top: 10px;
}
.row section{
    height: 200px;
}
.details .title{
    display: block;
}
.row i{
    position: absolute;
    left: 24.6%;
    margin-top: 12px;
    color: rgb(202, 202, 224);
}

.details .title2{
    font-size: 1.3rem;
    font-weight: 500;
}

/* Responsive media query  */

@media (max-width: 600px){
    .container{
        width: 100%;
        margin-left: 10px;
    }
    #intro{
      max-width:80%;
    }
    #discription{
        max-width: 100%;
    }
    .wrapper .center-line{
        left: 4%;
    }
    .row i{
        left: 2.5%;
    }
    .content-info {
        height: 170px;
        width: 40%;
    }
    .content-info p{
        font-size: 1.3rem;
    }
}