@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* Light mode color  */
    --text-color: #000;
    --primary-color: #edf2f4;
    --secondary-color: ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-color);
    
}
.container{
    min-height: 100vh;
    width: 50%;
    border-radius: 2px;
    border: 2px solid rgb(148, 192, 199);
    padding: 10px;
    position: absolute;
}
.content{
    margin-top: 50px;
}
.content p{
    margin-top: 40px;
}
.content ul{
    margin-top: 10px;
    margin-left: 20px;
}
.footer{
    overflow: hidden;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(162, 171, 174);
    position: absolute;
    bottom: 0;
    left: 250px;
}

/* Responsive Desing  */
@media (max-width: 500px){
    .container{
        width: 100%;
    }
    .footer{
        left: 125px;
    }
}